@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Lusitana:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 1.7;
  color: #eee;
  margin: 0;
}

#root {
  height: 100%;
  background-position: top;
}

header {
  grid-column: 1 / 2;
  grid-row: 1;
}

footer {
  grid-column: -2 / -1;
  grid-row: 1;
  align-self: end;
  text-align: right;
}

.gallery {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  align-content: center;
  justify-content: space-around;
  margin: 2vh auto;
  color: firebrick;
}

nav {
  display: flex;
  justify-content: end;
  height: 50px;
  padding: 20px 3vw 0 0;
  gap: 50px;

  a {
    text-decoration: none;
    text-transform: uppercase;
  }

  p {
    justify-self: start;
    font-family: "Lusitana", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    color: black;
    flex: 20;
    margin-left: 2vw;
  }
}

.case {
  display: inline-block;
  width: 15vw;

  img {
    width: 15vw;
  }
}
