.gallery {
  display: grid;
  justify-content: space-evenly;
  margin: 3vh auto;
}

@media (min-width: 2560px) {
  .gallery {
    width: 100%;
    margin-top: 2vh;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    justify-content: space-evenly;
    color: firebrick;
  }

  .case {
    margin-top: 20px;

    img {
      height: 34vh;
      width: 26vh;
      object-fit: cover;
    }
  }
}

@media (max-width: 1920px) {
  .gallery {
    width: 100%;
    margin-top: 2vh;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: space-evenly;
    color: firebrick;
  }

  .case {
    margin-top: 20px;

    img {
      height: 34vh;
      width: 26vh;
      object-fit: cover;
    }
  }
}

@media (max-width: 1181px) {
  .gallery {
    padding-inline: 2vh;
    grid-template-columns: auto auto auto auto auto;
  }

  .case {
    margin-top: 20px;

    img {
      height: 34vh;
      width: 26vh;
      object-fit: cover;
    }
  }
}

@media (max-width: 500px) {
  .gallery {
    grid-template-columns: auto auto;
    justify-content: space-evenly;
  }

  .case {
    margin-top: 15px;

    img {
      height: 26vh;
      width: 21vh;
      object-fit: cover;
    }
  }
}
