.scroll-to-top-button {
  position: fixed;
  bottom: 20px;
  right: 50px;
  background-color: rgba(255, 235, 215, 0.7);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  z-index: 1000;
}

.scroll-to-top-button:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.scroll-to-top-button.visible {
  opacity: 1;
  visibility: visible;
}

.scroll-to-top-button svg {
  width: 1em;
  height: 1em;
  vertical-align: middle;
}
